.oneline {
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: cadetblue;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  &:hover:after {
    background-color: goldenrod;
  }
  div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -1.7em;
    text-align: center;
    color: white;
  }
  p {
    text-align: center;
    font-size: 1.2em;
  }
}
